<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FGN-ALAT Certificate of Completion</title>

    <link
      rel="icon"
      href="https://getfundedafrica.com/gfa/upload/cropped-TG-Thumb-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="https://getfundedafrica.com/gfa/upload/cropped-TG-Thumb-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      href="https://getfundedafrica.com/gfa/upload/cropped-TG-Thumb-180x180.png"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="certificate-container">
      <img src="Certificate.jpg" alt="Certificate" class="certificate-image" />

      <div class="text-overlay">
        <p>FGNALAT/2024/01/21245</p>
        <h1>Abdul-Azeez Adeleye</h1>
        <h2>Software Engineering</h2>
        <h4>Elizabeth's Signature</h4>
        <h5>Mr Debo's Signature</h5>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
